{% extends 'base.html' %}


{% block content %}
    <div class="card text-center">
        <div class="card-header">
            Название: {{ poll.question }}
        </div>
        <div class="card-body">
        {% for choice in poll.choices.all %}
            <h6 class="card-title">{{ forloop.counter }}: {{ choice.variation }}
                <a href="{% url 'choice_edit' choice.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'choice_delete' choice.pk %}" class="btn btn-danger">Delete</a>
            </h6>
        {% endfor %}
        </div>
        <div class="card-footer text-muted">
            <a href="{% url 'poll_edit' poll.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'poll_delete' poll.pk %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'choice_add' poll.pk %}" class="btn btn-success">Add Choice</a>
        </div>
    </div>
{% endblock %}