{% extends 'base.html' %}


{% block content %}
    <div class="card text-center">
        <div class="card-header">
            Название: {{ poll.question }}
        </div>
        <div class="card-body">
            <h6 class="card-title">Статус: {{ poll.choice.variation }}</h6>
{#            <h6 class="card-title">Тип: {% for type in task.type.all %} {{ type }}{% if not forloop.last %},{% endif %}{% endfor %}</h6>#}
{#            <p class="card-text" style="white-space: pre-wrap">{{ task.description }}</p>#}
        </div>
        <div class="card-footer text-muted">
            <a href="{% url 'poll_edit' poll.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'poll_delete' poll.pk %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
{% endblock %}